@import "../v200/variables.css";

/* éléments suprimer */
.sidebar-col, .c-sub-header-nav, .clone-header, .ad {
  display: none !important;
}
.container, .main-col, .col-md-8, .col-sm-8, .main-col-inner {
  margin: 0 !important;
  padding: 0 !important;
}

/* les couleurs */
body {
  background-color: var(--color-black) !important;
}
.btn-link:hover, .menu-item a, .fab, .c-image-hover a {
  color: var(--color-L-primary-dark) !important;
}
span, a, a.open-search-main-menu:hover i.icon.ion-ios-search, .h4 {
  color: var(--color-primary) !important;
}
.btn-link, i.icon.ion-ios-search, .asp_res_url {
  color: var(--color-black) !important;
}
.ratings_stars {
  color: var(--color-brand) !important;
}
.manga-vf-flag {
  background-color: var(--color-L-primary-light) !important;
  opacity: 0.9 !important;
}
.h5 a:hover {
  color: var(--color-tertiary) !important;
}

/* barre de navigation */
.site-header {
  .c-header__top {
    background-color: var(--color-bg-light) !important;
    background-image:
            linear-gradient(to right, var(--color-bg-light), var(--color-bg-light) 0%, transparent 21%, transparent),
            linear-gradient(to right, transparent, transparent 21%, var(--color-border) 100%, var(--color-border)) !important;
  }
  .main-navigation {
    display: flex !important;
    justify-content: center !important;
    .main-navigation_wrap {
      padding: 10px !important;
    }
  }
  .search-main-menu {
    li {
      display: flex !important;
      justify-content: center !important;
      .container {
        display: flex !important;
        justify-content: center !important;
        .asp_w_container {
          width: 550px !important;
          margin: 0 20px !important;
          padding: 0 !important;
        }
      }
    }
  }
  .active {
    height: 60px !important;
  }
}
.asp_r {
  height: 34% !important;
}

/* page d'acceuil */
.content-area {
  display: flex !important;
  justify-content: center !important;
  .container {
    .row {
      display: flex !important;
      justify-content: center !important;
      .main-col, .col-md-8, .col-sm-8 {
        display: flex !important;
        justify-content: center !important;
        .main-col-inner, .c-page {
          margin: 0 -20% !important;
          width: 150% !important;
          .c-nav-tabs {
            a {
              color: var(--color-tertiary) !important;
            }
            .active a {
              color: var(--color-primary) !important;
            }
          }
          .post-on {
            color: var(--color-tertiary) !important;
          }
        }
      }
    }
  }
}

/* numéraux de page */
.wp-pagenavi {
  .pages, .first, .previouspostslink, .extend, .nextpostslink, .last {
    background-color: var(--color-bg-light) !important;
    &:hover {
      background-color: var(--color-bg) !important;
    }
  }
  .current {
    background-color: var(--color-black) !important;
    color: var(--color-primary) !important;
    outline: 3px solid var(--color-bg-light) !important;
    outline-offset: -2px !important;
    &:hover {
      outline: 3px solid var(--color-bg) !important;
    }
  }
}
.c-blog__content {
  .wp-pagenavi {
    margin: 30px 0 !important;
  }
  .col-md-12 {
    display: flex !important;
    justify-content: center !important;
  }
}

/* bar des contact */
.site-footer {
  margin-top: 50px !important;
  .top-footer, .bottom-footer {
    display: flex !important;
    justify-content: center !important;
  }
}

/* page liste */
#manga-filte-alphabeta-bar {
  background-color: var(--color-black) !important;
  a {
    background-color: var(--color-bg-light) !important;
    border: none !important;
    color: var(--color-primary) !important;
    &:hover {
      background-color: var(--color-border) !important;
    }
  }
}

/* page recherche */
.c-tabs-item__content {
  .col-8 {
    .post-content {
      background-color: var(--color-black) !important;
    }
    span a {
      color: var(--color-black) !important;
    }
  }
  .manga-vf-flag {
    right: 70px !important;
    left: 15px !important;
    bottom: 15px !important;
    transition: right 0.5s ease !important;
  }
  .c-image-hover:hover .manga-vf-flag {
    right: 60px !important;
  }
}
.c-search-header__wrapper {
  background-color: var(--color-black) !important;
  background-image: none !important;
  display: flex !important;
  justify-content: center !important;
  label, button {
    color: var(--color-primary) !important;
  }
}

/* page anime */
.wp-manga {
  .profile-manga {
    background-color: var(--color-black) !important;
    display: flex !important;
    justify-content: center !important;
    .col-12 {
      background-color: var(--color-bg) !important;
      border-radius: 0 0 50px 50px !important;
      h1, h5, .summary-content {
        color: var(--color-primary) !important;
      }
      .summary_image {
        background-color: transparent !important;
        width: calc(48px * 6 + 30px) !important;
        .manga-vf-flag {
          right: 15px !important;
          left: 15px !important;
          bottom: 15px !important;
        }
        .img-responsive {
          height: calc(72px * 6) !important;
          width: calc(48px * 6) !important;
        }
      }
      .summary_content {
        background-color: transparent !important;
      }
    }
  }
  .c-page {
    display: flex !important;
    justify-content: center !important;
    .c-page__content {
      width: 1140px !important;
      margin-left: -6% !important;
      .wp-manga-chapter a:visited {
        color: var(--color-border) !important;
      }
    }
  }
}

/* page épisode */
.chapter-type-video {
  display: flex !important;
  justify-content: center !important;
  .selectpicker, .host-select, .prev_page {
    background-color: var(--color-bg-light) !important;
    color: var(--color-primary) !important;
    option {
      background-color: var(--color-bg-light) !important;
      color: var(--color-primary) !important;
    }
  }
  .content-area {
    width: 800px !important;
    .chapter-video-frame {
      margin: 35px 0 0 0 !important;
    }
  }
}
