.wp-manga-template-default .site-content {
    .profile-manga .container {
        background-color: var(--color-black);
        padding: 20px 36px 0 36px;
        position: relative;

        .c-breadcrumb-wrapper { display: none; }
        .post-title {
            padding-bottom: 20px;
            max-width: var(--width-primary);

            h1 {
                font-size: var(--font-size-xxxl);
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
            }
        }
        .tab-summary {
            .summary_image {
                position: relative;
                padding-bottom: 20px;

                a {
                    display: flex;
                    flex-direction: row-reverse;
                    &:hover { color: var(--color-primary) }
                }
                &:not(:has(#trailer)) a::before {
                    content: 'Aucun trailer n\'a été trouvé pour cet anime.';
                    width: calc(100% - 4px);
                    height: 300px;
                    margin-left: 4px;
                    background: var(--color-zone);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .play-trailer-btn { display: none; }
                #trailer {
                    flex: 1;
                    .modal-body { height: 300px; }
                    iframe {
                        width: calc(100% - 4px);
                        height: 300px;
                        margin-left: 4px;
                    }
                }
                img {
                    width: 200px;
                    height: calc(200px * 1.5);
                    object-fit: cover;
                }
                .manga-vf-flag {
                    position: absolute;
                    top: 270px; left: 0;
                    width: 200px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: var(--font-size-lg);
                    z-index: 0;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0; left: 0;
                        width: 100%; height: 100%;
                        background: var(--color-brand-red);
                        opacity: 0.85;
                        z-index: -1;
                    }
                }
            }
            .summary_content {
                position: relative;
                .post-content {
                    position: relative;

                    .loader-inner {}
                    .post-rating {
                        position: absolute;
                        top: -20px; right: 0;
                        width: 505px;
                        background-color: var(--color-bg);
                        padding: 10px 10px 10px 20px;
                        border-radius: 0 0 0 20px;

                        .post-total-rating,
                        .user-rating {
                            display: flex;
                            align-items: center;
                            gap: 2px;
                            line-height: 18px;

                            .ratings_stars {
                                color: var(--color-brand);
                                font-size: var(--font-size-xxxl);
                            }
                            .score {
                                margin-left: calc((255px - 67px) / 2);
                                font-size: var(--font-size-xxxl);
                            }
                        }
                        .user-rating {
                            display: none;
                            .score { margin-left: 5px; }
                        }
                        &:hover {
                            .post-total-rating { display: none; }
                            .user-rating { display: flex; }
                        }
                    }

                    .post-content_item {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        .summary-heading {
                            min-width: 110px;

                            h5 {
                                font-size: var(--font-size-lg);
                                color: var(--color-secondary);
                                margin-bottom: 10px;
                            }
                        }
                        .summary-content {}
                    }
                }
                .nav-links {
                    position: absolute;
                    top: 50px; right: 0;
                    padding: 10px 0;

                    .c-btn {
                        padding: 5px 10px;
                        border-radius: 5px;
                        border: 1px solid var(--color-border);
                        background-color: var(--color-click-zone);
                        font-size: var(--font-size-lg);
                    }
                    #btn-read-last:before { content: '« '; }
                    #btn-read-first:after { content: ' »'; }
                }
            }
        }
    }
    .main-col-inner {
        .c-blog__heading {
            position: relative;

            h2 {
                font-size: var(--font-size-xxl);
                text-align: center;
                padding-bottom: 10px;
                margin-bottom: 20px;
                border-bottom: 1px solid var(--color-border);
                text-transform: uppercase;
                .icon { display: none; }
            }
            .btn-reverse-order {
                position: absolute;
                top: 0; right: 0;
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;

                .icon:before {
                    content: '⇅';
                    font-size: var(--font-size-xxl);
                    font-style: normal;
                    font-weight: bold;
                }
            }
        }

        .description-summary {
            margin-bottom: 50px;
        }
        .listing-chapters_wrap {
            margin-bottom: 50px;

            .wp-manga-chapter {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                border-radius: 5px;
                &:hover { background-color: var(--color-click-zone); }

                a {
                    flex: 1;
                    padding: 5px 10px;
                    &:visited { color: var(--color-tertiary); }
                }
                .chapter-release-date i {
                    position: absolute;
                    top: 50%; right: 0;
                    transform: translateY(-50%);
                    padding-right: 10px;
                    pointer-events: none;
                    color: var(--color-secondary);
                }
            }
        }
    }
}
