.site-content {
    background-color: var(--color-black);

    .main-col .main-col-inner {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 36px;
    }
    @media (min-width: 1200px) {
        display: flex;
        justify-content: center;
        .main-col .main-col-inner {
            width: var(--width-primary);
        }
    }
    .sidebar-col { display: none }
}
