.site-content {
    background-color: var(--color-black);

    .main-col .main-col-inner {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-lg);
        padding: var(--spacing-lg) var(--spacing-xl);
    }
    @media (min-width: 1200px) {
        display: flex;
        justify-content: center;
        .main-col .main-col-inner {
            width: 100vw;
            max-width: var(--breakpoint-xxl);
        }
    }
    .sidebar-col { display: none }
}
