.wp-manga-template-default .site-content {
    .main-col-inner {
        .wp-manga-nav {
            position: relative;
            margin-bottom: var(--spacing-lg);

            .entry-header_wrap {
                .breadcrumb {
                    padding-bottom: var(--spacing-lg);

                    li:nth-child(1),
                    li:nth-child(3) { display: none; }
                    li:nth-child(2) a {
                        font-size: var(--font-size-xxxl);
                        font-weight: var(--font-weight-bold);
                    }
                }
            }

            .select-view {
                display: flex;
                justify-content: start;
                align-items: center;

                .video-light { display: none; }
                .selectpicker {
                    margin-right: var(--spacing-sm);
                    padding: var(--spacing-xxs) var(--spacing-sm);
                    border-radius: var(--border-radius-sm);
                    border: var(--border-sm);
                    background-color: var(--color-zone-click);
                    font-size: var(--font-size-md);
                }
            }

            .select-pagination {
                position: absolute;
                bottom: 0; right: 0;

                .nav-links {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: var(--spacing-sm);

                    .btn {
                        padding: var(--spacing-xxs) var(--spacing-sm);
                        border-radius: var(--spacing-xxs);
                        border: var(--border-sm);
                        background-color: var(--color-zone-click);
                        &.prev_page:before { content: '« '; }
                        &.next_page:after { content: ' »'; }
                    }
                }
            }
        }

        .entry-content {
            width: 100%;
            height: calc(100vh - 375px);
            max-height: 636px;
            outline: var(--border-sm);
            display: flex;
            justify-content: center;
            align-items: center;

            #chapter-video-frame {
                p:nth-child(1), iframe {
                    width: calc(var(--breakpoint-xl) - 72px);
                    height: calc(100vh - 375px);
                    max-height: 636px;
                }

                #chapter-video-captcha-validator {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    p, iframe {
                        width: auto;
                        height: auto;
                    }

                    .btn {
                        width: 304px;
                        height: 50px;
                        border-radius: var(--border-radius-sm);
                        border: var(--border-sm);
                        background-color: var(--color-zone-click);
                        font-size: var(--font-size-lg);
                        font-weight: var(--font-weight-bold);
                        color: var(--color-primary);
                        margin: var(--spacing-lg) 0;
                    }

                    div p {
                        width: 350px;
                        font-size: var(--font-size-lg);
                        text-align: center;
                    }
                }
            }
        }

        #manga-reading-nav-foot { display: none; }
    }
}
