header.site-header {
    position: sticky;
    top: 0;
    z-index: 1000;

    .c-header__top {
        display: flex;
        flex-direction: column-reverse;
        background-color: var(--color-bg);

        .search-main-menu {
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid var(--color-border);

            li {
                max-width: var(--width-primary);
                margin: 0 auto;
                width: 100%;

                .container {
                    display: flex;
                    align-items: center;
                    height: 52px;
                    padding: 8px 36px;

                    @media (max-width: 600px) {
                        flex-direction: column;
                        gap: 8px;
                        height: 80px;

                        .asp_w_container {
                            width: 100%;
                            padding: 0 !important;
                        }
                    }
                    .asp_w_container {
                        flex: 1;
                        &[data-id="3"] { padding: 0 25px 0 0; }
                        &[data-id="2"] { padding: 0 0 0 25px; }

                        .asp_w .probox {
                            position: relative;

                            .prosettings .innericon svg {}
                            .proinput form {
                                position: relative;

                                input {
                                    padding: 5px 60px 5px 15px;
                                    border: none;
                                    border-radius: 26px;

                                    &.orig {
                                        width: 100%;
                                        height: 100%;
                                        background-color: var(--color-click-zone);
                                        outline: 1px solid var(--color-border);
                                        &:focus { outline-color: var(--color-brand) }
                                    }
                                    &.autocomplete {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        z-index: -1;
                                        background-color: transparent;
                                    }
                                }
                            }
                            .promagnifier {
                                position: absolute;
                                top: calc(26px / 2);
                                right: 0;
                                height: 20px;
                                transform: translate(0, -50%);
                                padding-right: 10px;
                                background: none;
                                border: none;
                                .asp_text_button { display: none }
                                .innericon svg {}
                                .asp_clear {}
                            }
                            .proloading .asp_loader {}
                            .proclose {
                                display: none;
                                position: absolute;
                                top: calc(26px / 2);
                                right: 30px;
                                height: 20px;
                                transform: translate(0, -50%);
                                padding-right: 5px;
                                svg {}
                            }
                        }
                        .asp_data_container,
                        .searchsettings {
                            display: none;
                        }
                    }
                }
            }
        }
        .main-navigation {
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid var(--color-border);

            .container {
                max-width: var(--width-primary);
                margin: 0 auto;
                width: 100%;

                .row .col-md-12 .main-navigation_wrap {
                    display: flex;
                    height: 56px;
                    padding: 8px 36px;
                    @media (max-width: 880px) {
                        justify-content: space-between;
                        .main-menu { display: none !important; }
                    }

                    .wrap_branding, .wrap_branding .logo {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img { height: 20px; }
                    }

                    .main-menu {
                        flex: 1;
                        display: flex;
                        justify-content: end;
                        align-items: center;
                        margin-left: 30px;

                        .nav {
                            display: flex;
                            gap: 30px;
                            .menu-item a {}
                        }
                    }
                    .search-navigation { display: none }
                    .c-togle__menu {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .menu_icon__open {
                            background: none;
                            border: none;
                            cursor: pointer;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 6px;
                            @media (min-width: 880px) { display: none }

                            span {
                                width: 35px;
                                height: 4px;
                                background-color: #fff;
                                border-radius: 2px;
                                transition: 0.4s ease;
                                transform-origin: center;
                                pointer-events: none;
                            }
                            &.active span {
                                &:nth-child(1) { transform: translateY(10px) rotate(45deg); }
                                &:nth-child(2) { opacity: 0; }
                                &:nth-child(3) { transform: translateY(-10px) rotate(-45deg); }
                            }
                        }
                    }
                }
            }
        }
    }
    .mobile-menu {
        display: none;
        &.active {
            display: flex;
            pointer-events: auto;
        }
        position: absolute;
        top: 109px;
        left: 0;
        z-index: 9999;
        width: 300px;
        height: calc(100vh - 109px);
        background-color: var(--color-bg);
        border-top: 1px solid var(--color-border);
        border-right: 1px solid var(--color-border);
        padding: 50px 30px;
        flex-direction: column;
        gap: 50px;
        @media (max-width: 600px) {
            top: 137px;
            height: calc(100vh - 137px);
            width: 100vw;
            border-right: none;
        }

        .close-nav .menu_icon__close {
            background: none;
            border: none;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 6px;

            span {
                width: 35px;
                height: 4px;
                background-color: #fff;
                border-radius: 2px;
                transition: 0.4s ease;
                transform-origin: center;
                pointer-events: none;
                &:nth-child(1) { transform: translateY(5px) rotate(45deg); }
                &:nth-child(2) { transform: translateY(-5px) rotate(-45deg); }
            }
        }
        .off-menu .nav {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
    .c-sub-header-nav { display: none !important; }
}

#ajaxsearchprores2_1 { z-index: 1001; }
#ajaxsearchprores3_1 { z-index: 1002; }
#ajaxsearchprores2_1,
#ajaxsearchprores3_1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .results .resdrg {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        margin-top: 4px;
        background-color: var(--color-zone);
        border-radius: 12px;
        max-height: calc(100vh - 200px);
        overflow-y: auto;
        box-shadow: 0 3.2px 2.2px rgba(0, 0, 0, 0.02),
        0 7px 5.4px rgba(0, 0, 0, 0.2), 0 12.1px 10.1px rgba(0, 0, 0, 0.5),
        0 19.8px 18.1px rgba(0, 0, 0, 0.042), 0 34.7px 33.8px rgba(0, 0, 0, 0.05),
        0 81px 81px rgba(0, 0, 0, 0.07);

        .item {
            padding: 10px 20px 10px 10px;
            &:hover { background-color: var(--color-hover-zone); }

            .asp_res_image_url {
                float: left;
                width: 80px;
                height: 120px;
                margin-right: 15px;
                overflow: hidden;
                border-radius: 3px;
                position: relative;

                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }
            .void {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 35%;
                background: linear-gradient(to top, rgba(0,0,0,0.5), transparent);
            }
            h3 {
                margin: 0 0 5px;
                font-size: var(--font-size-lg);
                line-height: 1.2;

                .asp_res_url {
                    color: var(--color-primary);
                    font-weight: bold;
                    transition: color 0.3s ease;
                    &:hover { color: var(--color-brand); }
                    .overlap {}
                }
            }
            .asp_res_text {
                font-size: var(--font-size-sm);
                color: var(--color-secondary);
                line-height: 1.4;
                margin-top: 5px;
            }
            .clear { clear: both; }
        }
    }
}
