.home .site-content .main-col-inner {
    .tab-wrap .c-blog__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--spacing-lg);
        padding: var(--spacing-lg) 0;

        h1 { font-size: var(--font-size-xxl); }
        .c-nav-tabs ul {
            display: flex;
            gap: var(--spacing-xxs);

            li { padding: var(--spacing-xxs) var(--spacing-sm); }
            li.active {
                background-color: var(--color-zone);
                border-radius: var(--spacing-xl);
            }
        }
    }

    .page-content-listing {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(338px, 1fr));

        .page-listing-item .row {
            display: flex;
            justify-content: space-around;

            .page-item-detail {
                width: 150px;
                padding-bottom: var(--spacing-xxl);

                .item-thumb {
                    width: calc(225px * var(--aspect-ratio-poster));
                    height: 225px;
                    position: relative;
                    overflow: hidden;

                    a {
                        &:hover { color: var(--color-primary) }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: var(--transition-fast);
                            &:hover { scale: 1.1; }
                        }

                        .manga-vf-flag {
                            position: absolute;
                            bottom: 0; left: 0;
                            width: 100%;
                            height: 30px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: var(--font-size-lg);
                            z-index: var(--z-index-base);

                            &::before {
                                content: '';
                                position: absolute;
                                top: 0; left: 0;
                                width: 100%; height: 100%;
                                background: var(--color-brand-red);
                                opacity: 0.85;
                                z-index: var(--z-index-negative);
                            }
                        }
                    }
                }

                .item-summary {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-xxs);
                    padding: var(--spacing-xxs) 0;

                    h2 {
                        font-size: var(--font-size-lg);
                        a:hover { color: var(--color-brand) }
                    }
                }

                .post-title h3 {
                    margin-top: var(--spacing-xxs);
                    line-height: var(--line-height-sm);

                    a {
                        font-size: var(--font-size-sm);
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                    }
                }

                .rating .post-total-rating {
                    display: flex;
                    align-items: center;
                    gap: var(--spacing-xxs);
                    line-height: var(--line-height-sm);
                    color: var(--color-secondary);

                    .score { margin-left: var(--spacing-xxs); }
                    .ratings_stars {
                        color: var(--color-brand);
                        font-size: var(--font-size-lg);
                    }
                }

                .list-chapter .chapter-item {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    color: var(--color-secondary);
                    font-size: var(--font-size-xs);

                    .chapter a {
                        padding: var(--spacing-xxs)
                                 var(--spacing-sm)
                                 var(--spacing-xxs)
                                 0;
                    }
                    .post-on {}
                }
            }
        }
    }
}
