.wp-pagenavi {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xs);
    margin: var(--spacing-lg) 0;
    font-size: var(--font-size-lg);

    .pages,
    .current,
    .page {
        padding: var(--spacing-xxs) var(--spacing-xs);
        border-radius: var(--spacing-xxs);
        border: var(--border-sm);
    }

    .current {
        background-color: var(--color-brand);
        border-color: var(--color-brand);
    }

    .extend { padding: var(--spacing-xxs); }
    .first,
    .previouspostslink,
    .nextpostslink,
    .last {
        padding: var(--spacing-xxs) var(--spacing-sm);
        border-radius: var(--spacing-xxs);
        border: var(--border-sm);
        background-color: var(--color-zone-click);
    }

    @media (max-width: 992px) { grid-template-columns: repeat(15, 1fr); }
    @media (max-width: 768px) { grid-template-columns: repeat(8, 1fr); }
    @media (max-width: 992px), (max-width: 768px) {
        padding: 0 var(--spacing-xs);
        font-size: var(--font-size-md);
        display: grid;
        text-align: center;

        .first,
        .last { grid-column: span 2; }
        .pages { grid-column: span 3; }
        .extend { display: none; }
    }
}
