.wp-pagenavi {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 20px 0;
    font-size: var(--font-size-xl);

    .pages,
    .current,
    .page {
        padding:4px 8px;
        border-radius: 5px;
        border: 1px solid var(--color-border);
    }
    .current {
        background-color: var(--color-brand);
        border-color: var(--color-brand);
    }
    .extend { padding: 5px 2px; }
    .first,
    .previouspostslink,
    .nextpostslink,
    .last {
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid var(--color-border);
        background-color: var(--color-click-zone);
    }
}
