:root {
    --color-brand: #7289da;
    --color-brand-red: #ff3c38;
    --color-primary: #fff;
    --color-secondary: #aaa;
    --color-tertiary: #777;
    --color-black: #000;
    --color-bg: #0f0f0f;
    --color-zone: #222;
    --color-click-zone: #121212;
    --color-hover-zone: #383838;
    --color-border: #272727;

    --width-primary: 1200px;
    --width-secondary: 880px;
    --width-tertiary: 600px;

    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-lg: 18px;
    --font-size-xl: 20px;
    --font-size-xxl: 24px;
    --font-size-xxxl: 48px;
}
